# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editor
.vscode/
.idea/

# Build / output
dist/
build/
*.log

# Generated presentations
*.pptx


# Node
web/node_modules/
node_modules/

web/.vite/
.vite/
